@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  font-weight: 400;
}

@layer base {
  body {
    @apply text-black-01;
  }
  blockquote,
  body,
  dd,
  dl,
  dt,
  fieldset,
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  html,
  iframe,
  legend,
  li,
  ol,
  p,
  pre,
  textarea,
  ul {
    @apply m-0 p-0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-base;
  }
  ul {
    @apply list-none;
  }
  button,
  input,
  select {
    @apply m-0;
  }
  *,
  :after,
  :before {
    @apply box-border;
  }
  img,
  video {
    @apply h-auto max-w-full;
  }
  iframe {
    @apply border-0;
  }
  table {
    @apply border-collapse border-spacing-0;
  }
  td,
  th {
    @apply p-0;
  }
  button {
    @apply cursor-pointer rounded-none border-none bg-transparent p-0 text-left text-inherit shadow-none;
  }
}

@layer components {
  /* Button Styles */
  .btn-solid {
    @apply border-1 border-primary-01 bg-primary-01 text-white-01;
  }

  .btn-light {
    @apply border-1 border-primary-03 bg-primary-03 text-primary-01;
  }

  .btn-ghost {
    @apply border-1 border-primary-01 bg-white-01 text-primary-01;
  }

  .btn-red {
    @apply bg-red-01 text-white-01;
  }

  .btn-outline {
    @apply border-1 border-gray-02 text-black-02;
  }

  .btn-kakao {
    @apply border-1 border-kakao bg-kakao;
  }

  .btn-disabled {
    @apply border-1 cursor-disabled border-gray-01 bg-gray-01 text-white-01;
  }

  /* Button Sizes */
  .btn-lg {
    @apply font-subtitle-1 h-14 rounded-md;
  }

  .btn-md {
    @apply font-btn-2 h-12 rounded-md;
  }

  .btn-sm {
    @apply font-btn-3 h-10 rounded-md;
  }

  /* Modal Fonts */
  .modal-h1 {
    @apply font-title-3;
  }

  .modal-h2 {
    @apply font-title-4;
  }

  .modal-h3 {
    @apply font-subtitle-2;
  }

  /* Text Editor */
  .tab-bar-ul {
    @apply flex justify-start gap-10;
  }

  .tab-bar-li {
    @apply flex w-max flex-col gap-2;
  }

  .tab-bar-li-vertical-M {
    @apply font-tab-1 flex w-max flex-col gap-1;
  }

  .tab-bar-li-vertical-L {
    @apply font-tab-2 flex w-max flex-col gap-2;
  }

  .tab-bar-button {
    @apply font-tab-3 flex text-gray-01;
  }

  .tab-bar-button-active {
    @apply text-black-01;
  }

  .tab-bar-hr {
    @apply border-[0.0875rem] border-solid opacity-0;
  }
  .tab-bar-hr-vertical {
    @apply border;
  }

  .tab-bar-hr-active {
    @apply border-solid border-black-01 opacity-100;
  }

  .embla {
    @apply h-96 w-full overflow-hidden;
  }

  .embla__container {
    @apply flex h-96;
  }

  .embla__slide {
    @apply relative h-96 w-full flex-none;
  }

  /* React Date Picker */
  .rdp {
    --rdp-accent-color: theme('colors.primary.01');
    --rdp-cell-size: 2rem;
    @apply m-0;
  }

  .rdp-day {
    @apply w-full max-w-none rounded-[1.2rem];
  }

  .rdp-day_range_middle {
    @apply rounded-none;
  }

  .rdp-day_range_end.rdp-day_range_start {
    @apply rounded-[1.2rem];
  }

  .rdp-table {
    @apply max-rdp:max-w-[25rem];
  }

  .rdp-cell {
    @apply max-rdp:w-[calc(var(--rdp-cell-size)*2.1)];
  }

  .rdp-month {
    @apply max-rdp:m-0;
  }

  .rdp-month:last-child {
    @apply max-rdp:hidden;
  }
}

@layer utilities {
  /* Layouts */
  .h-gnb {
    @apply h-14 md:h-[4.5rem];
  }

  .flex-row-center {
    @apply flex items-center;
  }

  .flex-col-center {
    @apply flex flex-col items-center;
  }

  .flex-col-start {
    @apply flex flex-col items-start;
  }

  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .fixed-center {
    @apply fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .image-cover {
    @apply h-full w-full object-cover;
  }

  .px-sm {
    @apply px-5;
  }

  .px-md {
    @apply px-[1.875rem];
  }

  .px-lg {
    @apply px-10;
  }

  .py-sm {
    @apply py-5;
  }

  .py-md {
    @apply py-7;
  }

  .py-lg {
    @apply py-10;
  }

  .px-layout {
    @apply px-sm md:px-md xl:px-lg;
  }

  .py-layout {
    @apply py-sm md:py-md xl:py-lg;
  }

  .p-layout {
    @apply px-layout py-layout;
  }

  /* Utils */
  .cursor-disabled {
    @apply pointer-events-none cursor-default;
  }

  .border-1 {
    @apply border border-solid;
  }

  .border-b-1-inner {
    box-shadow: 0 -0.0625rem theme('colors.gray.02') inset;
  }

  .hidden {
    display: none !important;
  }

  /* line-height(leading) */
  .leading-none {
    line-height: 100% !important;
  }

  .leading-tight {
    line-height: 125% !important;
  }

  .leading-snug {
    line-height: 137.5% !important;
  }

  .leading-normal {
    line-height: 150% !important;
  }

  .leading-relaxed {
    line-height: 162.5% !important;
  }

  .leading-loose {
    line-height: 200% !important;
  }

  /* Fonts */
  .font-title-1 {
    @apply text-[2rem] font-bold leading-[140%];
  }

  .font-title-2 {
    @apply text-[1.75rem] font-bold leading-[140%];
  }

  .font-title-3 {
    @apply text-2xl font-bold leading-[140%];
  }

  .font-title-4 {
    @apply text-xl font-bold leading-[140%];
  }

  .font-subtitle-1 {
    @apply text-lg font-bold leading-[130%];
  }

  .font-subtitle-2 {
    @apply text-base font-bold leading-[130%];
  }

  .font-subtitle-3 {
    @apply text-sm font-bold leading-[130%];
  }

  .font-body-1 {
    @apply text-xl font-normal leading-[180%];
  }

  .font-body-2 {
    @apply text-base font-normal leading-[180%];
  }

  .font-body-3 {
    @apply text-sm font-normal leading-[170%];
  }

  .font-caption-1 {
    @apply text-base font-medium leading-[140%];
  }

  .font-caption-2 {
    @apply text-sm font-medium leading-[140%];
  }

  .font-caption-3 {
    @apply text-xs font-medium leading-[140%];
  }

  .font-toast {
    @apply text-base font-medium leading-[140%];
  }

  .font-btn-1 {
    @apply text-lg font-bold leading-none;
  }

  .font-btn-2 {
    @apply text-base font-bold leading-none;
  }

  .font-btn-3 {
    @apply text-sm font-bold leading-none;
  }

  .font-btn-text {
    @apply text-sm font-semibold leading-none;
  }

  .font-btn-chip {
    @apply text-base font-medium leading-none;
  }

  .font-tag {
    @apply text-sm font-semibold leading-none;
  }

  .font-footer {
    @apply text-sm !leading-none md:text-base;
  }

  /* Custom Scrollbar Styles */
  .scrollbar::-webkit-scrollbar {
    @apply size-4;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply rounded-full bg-none;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full border-4 border-solid border-transparent bg-gray-01 bg-clip-padding;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-black-03;
  }
}
